<div class="row">
  <div class="col-md-6">
    <h3>Linux and R for metagenomics </h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfqzwsIIJKz8O0fG3VHbIId8j5LoVAV6ph6QctTR56laRHPmA/viewform?usp=sf_link" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Wednesday </td> <td> <a href="https://nselem.github.io/organization-metagenomics/">Project Organization and Management</a></td></tr>
      <tr><td>Wednesday </td> <td> <a href="https://nselem.github.io/shell-metagenomics">Introduction to the Command Line</a></td></tr>
      <tr><td>Thursday </td><td><a href="https://nselem.github.io/shell-metagenomics">Continuation: Introduction to the Command Line</a></td></tr>
      <tr><td>Thursday </td><td><a href="https://nselem.github.io/introduction-to-R-for-metagenomics/">Introduction to R</a></td></tr>
      <tr><td>Friday </td><td><a href="https://carpentries-incubator.github.io/metagenomics//">Data Processing for Metagenomics</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3> Saturday </h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://carpentries-incubator.github.io/metagenomics/">Continuation: Data Processing for Metagenomics</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://carpentries-incubator.github.io/metagenomics/">Data Visualization for Metagenomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="https://docs.google.com/forms/d/e/1FAIpQLScMN_CREhpqz7P8ro3GhNjKmnGZKbF3xy6QmYYujipCPgkO5g/viewform?usp=sf_link" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
